.container-admin {
    padding-top: 1em;
    margin: 0 auto;
}

.timer-buttons {
    margin: 1em;
    text-align: center;
}

body.admin.timer-sync .timer-buttons,
body.admin.timer-zero button.pause,
body.admin.timer-ready button.pause {
    visibility: hidden;
}

body.admin #qrcode {
    filter: blur(4px);
}