

a {
    text-decoration: none;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
}


body .container-timer {
    width: 100%;
}

body {
    overflow-x: hidden;
}

body .container-timer {
    padding: .1em;
    font-size: 6em;
    text-align: center;
    text-shadow: 2px 2px black;
    color: var(--timer-font-color);
}


body.timer-ready .container-timer {
    background-color: var(--timer-ready-color);
}

body.timer-semaphore.ready .container-timer,
body.timer-zero .container-timer {
    background-color: var(--timer-semaphore-ready);
}

body.timer-ending .container-timer {
    background-color: var(--timer-ending-color);
}


body.timer-sync.timer-sync-error .container-timer{
    background-color: var(--timer-sync-error-color);
}

body.timer-semaphore.set .container-timer,
body.timer-ending.timer-alert .container-timer {
    background-color: var(--timer-semaphore-set);
}

body.admin hr{
    border: 1px solid #33333333;
}

body.admin .container-admin {
    padding-top: 1em;
    margin: 0 auto;
}

body.admin .timer-buttons {
    margin: 1em;
    text-align: center;
}
body.admin{
    overflow-x: hidden;
}
#timer {
    min-height: 1.2em;
}

#timer:empty {
    background-image: url(loading.png);
    background-size: .8em;
    background-repeat: no-repeat;
    background-position: center center;
}


body .container-status div {
    background-color: var(--status-color);
    color: var(--status-font-color);
    padding: 8px 15px 8px 15px;
    position: fixed;
    bottom: 0;
    border-radius: 0 8px 0 0;
    transform: translate(0%, 0%);
}

body .container-status div:empty {
    padding: 0;
}

#status-basic {
    left: 50%;
    transform: translate(-50%, 0%);
    border-radius: 8px 8px 0 0;
    font-size: .75em
}



body #status-error {
    right: 0;
    border-radius: 8px 0 0 0;
    background-color: var(--status-error-color);
}

body .container-status .hidden {
    visibility: hidden;
}

body .container-title h1 {
    margin: 0;
    padding: 0 5px 0 15px;
}

body .selector{
    display: none;
}
body.admin .selector{
    display: block;
}

#qrcode {
    position: fixed;
    margin: 2px;
    right: 40px;
    top: 1px;
}



@media (max-width: 300px) and (max-height: 650px) {
    #qrcode {
        display: none;
    }
}

.container-debug {
    position: fixed;
    top: .5em;
    left: .5em;
}

#debug {
    color: #ffffff1a;
    text-shadow: 1px 1px #00000021;
    margin: 0;
}

.container-toolbar {
    position: fixed;
    top: 0em;
    right: 0em;
    background-color: #30303090;
    padding: 6px;
    border-radius: 0 0 0 10px;
}
i.icon {
    filter: invert();
    opacity: .5;
}
