body.user .container-timer {
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}



@media (orientation: landscape) {
    body.user .container-timer {
        font-size: 60vh;
    }

    body.user #qrcode {
        display: none;
    }
}

@media (orientation: portrait) {
    body.user .container-timer {
        font-size: 68pt;
    }
}